<!DOCTYPE html>
<html>
<head>
	<% include ../movie/partials/head.ejs %>
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Review for <%= movie.title%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movie">Movie Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tv">TV Reviews</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/account">Create Account</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
	</header>

	<main>
		<section class="d-flex justify-content-center">
      <div class="card border-dark bg-secondary" style="width: 25rem;">
        <img class="card-img-top" name="imageLink" src="<%= movie.imageLink %>" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title" name="title">
    <%       let totalRatings = 0;%>
    <%   for (let i=0; i < movie.reviews.length; i++) {%>
    <%    totalRatings += movie.reviews[i].rating%>
    <%   }%>
    <% let averageRating =Math.round(totalRatings/ movie.reviews.length*10)/10%>
    <% if(isNaN(averageRating)){%>
          <%=averageRating = "No Reviews Yet"%><br>
    <% }else{%>
        <%=averageRating%><br>
    <% }%>
          <%= movie.title %></h4>
          <p class="card-text" name="description"><%= movie.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Reviews</li>
          <%movie.reviews.forEach((reviews)=>{%>
          <li class="list-group-item">
            <%=reviews.body%>
          </li>
          <% })%>
        </ul>
        <div class="card-body">
          <form action="/movie/create" method="POST">
                            <input type="hidden" name="titleId" value="<%=movie._id%>">
            Create a review:<textarea name="body"></textarea><br>
                            <input type="number" name="rating" max='10' min='1'>

            <button type="submit">Submit</button>
        </form>
          <a href="/movie/<%= movie._id %>/edit" >Update</a><br>
          <a href="/movie/<%= movie._id %>?_method=DELETE">Delete</a><br>
        </div>
      </div>	
		</section>
	</main>
<canvas id="canvas-radial"></canvas>


<script src="/javascripts/app.js"></script>

</body>
</html>